.page-header
  .row 
    %h1 لیست پیام های ارسال شده

%table.table.table-striped.table-hover.message
  %thead
    %tr
      %th ردیف
      %th موضوع
      %th متن      
      %th فرستنده
      %th عملیات
      
  %tbody
    - @messages.each_with_index do |message, i|
      %tr{:class => ('visited' if message.visited == true)}
        %td= (i+1)
        %td=link_to message.subject, message
        %td= message.text        
        %td= message.user_name        
        %td= link_to 'حذف', message, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }

%br


