.width80.set-center.margin-top
  .tbox2
    .title
      %h2 نمای اسلایدر
    - if is_admin?
      = link_to 'افزودن عکس جدید', new_slide_path, :class => "button btn-sm"
    
    .index-slide.set-center 
      = render 'slider'            
      
        
          
  :javascript
    $(".item").first().addClass("active");
    $('.carousel').carousel();
