%div
  %h3
    شکایت از اتحادیه مسکن
  %h4  
    = @complaint.complaint_text
  %h4
    = @complaint.user_id
  %p
    تاریخ ارسال
    %br
    = JalaliDate.new(@complaint.created_at).strftime("%y/%m/%e %X")
