.width80.set-center.margin-top
  .tbox2
    .title
      %h1 ویرایش مقاله
    .contact-form.width50

      = render 'form'
    - if is_admin?
      = link_to 'مشاهده', @article
      \|
      = link_to 'بازگشت', articles_path
