%div{:style => "direction:rtl"}
  %h2= "ثبت نام در پروژه " + @reg_pro.project.title

  
  %h3= 'عنوان پروژه'
  %p
    =@reg_pro.project.title
  %h3= 'سقف مبلغ پرداختی'
  %p
    =@reg_pro.amount
    
  %h3= 'توضیحات'
  %p
    =@reg_pro.description
    
    
    
