#tbox2
  .title
    %h1 ویرایش شکایت
  .input-form    
    - if is_inspector?
      = render 'answer_form'
    - else
      = render 'form'

  = link_to 'مشاهده', @complaint
  \|
  = link_to 'بازگشت', complaints_path
