.width80.set-center.margin-top
  .tbox2
    .title
      %h1 پرسش حقوقی و داوری
    .width50.pull-right
      .contact-form
        -if flash[:DupError]        
          .alert.alert-warning= flash[:DupError]
        = render 'form'
    
    .width40.pull-left.pay-limit-box
      = link_to 'مشاهده پرسش و پاسخ ها', complaints_path
