    
= link_to 'تکمیل اطلاعات تعاونی', cooperatives_path
%br

= link_to 'مدیریت اعضای تعاونی', members_path(cooperative_id: current_user.cooperative_code)
%br
= link_to 'ارسال فایل', upload_files_path
.clear-float
