    
= link_to 'پروفایل بازرس', edit_user_registration_path(current_user)
%br
= link_to  Complaint do
  %p.width50.pull-right= "گزارش شکایات"
  %b.notif= Complaint.where('inspector_visited is null').count

%br

.clear-float
