.width80.set-center.margin-top
  .tbox2
    .title
      %h1 صفحات متنی
      - if is_admin?
        = link_to 'تعریف صفحه متنی جدید', new_page_path, :class => "save-btn"
        
    %table.table.table-striped.table-hover 
      %tr
        %th عنوان      
        %th

      - @pages.each do |page|
        %tr
          %td=link_to page.title, page      
          %td
            = link_to 'ویرایش', edit_page_path(page)
            = link_to 'حذف', page, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }

    %br

    
