#tbox2
  .title          
    %h3= @page.title      
  %p    
    =raw @page.text
  - if @page.title == "تماس با ما"
    #portfolio
      = render "shared/msg_form"
  
  = link_to 'ویرایش', edit_page_path(@page)
  \|
  = link_to 'بازگشت', pages_path
