.width80.set-center.margin-top
  
  .title
    %h1 ویرایش اطلاعات دفترچه تلفن
  .contact-form.alert.alert-warning

    = render 'form'
  
  = link_to 'مشاهده', @contact
  \|
  = link_to 'بازگشت', contacts_path
