.width80.set-center.margin-top
  .tbox2
    .title
      %h1 ویرایش اطلاعات دفترچه تلفن
  .contact-form.width50

    = render 'form'
  
  = link_to 'مشاهده', @phone_book
  \|
  = link_to 'بازگشت', phone_books_path
