.width80.set-center.margin-top
  .tbox2
    .title      
      %h1
        ثبت نامه 
        = Letter::LetterTypes[@letter.letter_type.to_sym]
      
    .contact-form
      = render 'form'

    = link_to 'بازگشت', :back
