var mywindow = window.open('', 'my div', 'height=400,width=600');
mywindow.document.write('<link rel="stylesheet" href="corea4.css" type="text/css" />');
alert('پرینت نامه با سایز A4');
mywindow.document.close();
mywindow.print();
mywindow.close();
