.width80.set-center.margin-top
  .tbox2
    .title
      %h1 لیست فرم ها
    - if is_admin?
      = link_to 'افزودن فرم جدید', new_pdf_form_path, :class => "save-btn"
    .clear-float

    %table.table
      %tr
        %th عنوان
        %th توضیحات
        %th
        

      - @pdf_forms.each do |pdf_form|
        %tr
          %td=link_to pdf_form.title, pdf_form
          %td= pdf_form.description
          - if is_admin?
            %td              
              = link_to 'ویرایش', edit_pdf_form_path(pdf_form)
              = link_to 'حذف', pdf_form, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }

    %br

    
