.width80.set-center.margin-top
  .tbox2    
    
    .title
      %h1= 'ویرایش تصاویر پروژه'
      
    .contact-form.width50
      = render 'form'

    = link_to 'مشاهده', @picture
    \|
    = link_to 'بازگشت', :back
