/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require colorbox-rails
 *= require dataTables/jquery.dataTables
 *= require_self
 *= require_tree .
 */
body {direction:rtl}
.service-content .inner-service a{color:#fff; font-size:14px;}
.service-content .inner-service a:hover{color:#ec523f; }
.clear-float {clear:both}
.set-center {margin-right:auto; margin-left:auto}
.width80 {width:80%}
.title  h1 {font-size:27px; text-align:center; margin:2%}
.sub-title h3 {font-size:20px; text-align:right; margin:2%}
.sub-title .line-orange {border-bottom:2px dotted #ec523f; margin-top: 4%;}
.text-center .info p {text-align:right}
.text-center .info  {margin-right:3%}
.margin-top {margin-top:20%}
.top94 {top:10%}
.cooperative-index {border-bottom:2px dotted #ec523f; padding:2%; margin:2%; height:200px; overflow:hidden}
