/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require colorbox-rails
 *= require dataTables/jquery.dataTables
 *= require_self
 *= require_tree .
 */
body {direction:rtl}
.service-content .inner-service a{color:#fff; font-size:14px;}
.service-content .inner-service a:hover{color:#ec523f; }
.clear-float {clear:both}
.set-center {margin-right:auto; margin-left:auto}
.width80 {width:80%}
.width80.set-center.margin-top{ min-height:250px;}
.width50 {width:50%}
.title  h1 {font-size:27px; text-align:center; margin:2%}
.sub-title h3 {font-size:20px; text-align:right; margin:2%}
.sub-title .line-orange {border-bottom:2px dotted #ec523f; margin-top: 4%;}
.text-center .info p {text-align:right}
.text-center .info  {margin-right:3%}
.margin-top {margin-top:20%}
.top94 {top:10%}
.cooperative-index {border-bottom:2px dotted #ec523f; padding:2%; margin:2%; height:200px; overflow:hidden}
.admin-menu {background:#ec523f; color:#fff; height:25px;-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  text-align:right;
  overflow:hidden;}
.admin-menu h2{color:#fff; padding:3px; border-bottom:1px dotted #fff; text-align:center; height:30px; margin:3px }
.admin-menu a {color:#fff; width:100%; height:20px; text-align:right}
.admin-menu:hover { height:350px; cursor:pointer}
.admin-menu a:hover {color:#000}
.admin-menu .admin-menu-links {margin-top:5px}
.pic-project .image-project {text-align:center; margin:2%; border-top-right-radius:10px;
  border-right:2px dotted #ec523f;
  
 }
.pic-project .image-project img{width:100%; height:100%; border-top-right-radius:20px; 
  border-bottom-left-radius:20px;
  
}
.show-question {border-bottom:1px dotted #ec523f; margin:2%;padding:2%}
.show-question a.complaint-admin {width:20%; margin:.5%; padding:1%; height:20px; color:#fff}
.show-question a.complaint-admin:hover {color:#000}
.show-question a.complaint-admin.complaint-del {background:#ec523f;}
.show-question a.complaint-admin.complaint-send {background:#1abc9c;}
.show-question a.complaint-admin.complaint-show-send {background:#3498db;}

.inner-service .ask-question {width:100%; height:30px; background:#ec523f; text-align:center; margin:1%; padding:1%}
.inner-service .ask-question a:hover {color:#000}
.important {
  font-weight:bold;
  /* Safari */
-webkit-transform: rotate(-45deg);

/* Firefox */
-moz-transform: rotate(-45deg);

/* IE */
-ms-transform: rotate(-45deg);

/* Opera */
-o-transform: rotate(-45deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
color:red;
}
.save-btn {width:250px; height:30px; color:#fff; background:#e67e22; padding:1%; margin:5px; font-size:15px}
.index-projects {margin-top:5%}
b.notif {
  background:#fff;
  width:40px;
  padding:5px 10px;
  margin:1px;
  height:5px;
  border-radius:20px;
  color:#ec523f;
}
.unread { font-weight:bold;}
#unread { font-weight:bold;}
tr { text-align:right}
tr th{ text-align:right}
tr td{ text-align:right}
