/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require colorbox-rails
 *= require dataTables/jquery.dataTables
 *= require jquery.ui.autocomplete
 *= require token-input
 *= require_self
 *= require_tree .
 */
body {direction:rtl; font-family:open_sansregular}
div {direction:rtl; font-family:open_sansregular}
h1, h2, h3, h4, h5 {direction:rtl; font-family:open_sansregular}
text_area {resize:none}
.service-content .inner-service a{color:#fff; font-size:14px;}
.service-content .inner-service a:hover{color:#ec523f; }
.clear-float {clear:both}
.set-center {margin-right:auto; margin-left:auto}
.width80 {width:80%}
.width80.set-center.margin-top{ min-height:250px;}
.width50 {width:50%}
.title {margin-bottom:10%}
.title  h1 {font-size:27px; text-align:center; margin:2%}
.title  h2 {font-size:18px; text-align:center; margin:2%; color:#7F7F7F}
.sub-title h3 {font-size:20px; text-align:right; margin:2%}
.sub-title .line-orange {border-bottom:2px dotted #ec523f; margin-top: 4%;}
.text-center .info p {text-align:right}
.text-center .info  {margin-right:3%}
.margin-top {margin-top:20%}
.top94 {top:10%}
.tbox2 {min-height:300px}
.cooperative-index {
  border-top:2px dotted #ec523f; padding:2%; margin:2%; height:220px; overflow:hidden}
.login-menu {background:#ec523f; color:#fff;height:25px;-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  text-align:right;
  overflow:hidden;}
.login-menu a.login-link {color:#fff; font-size:1em; text-align:center}
.signin {text-align:center; padding:2%; float:right}
.signin p.search-by-email{color:#fff}
.signin b {margin-top:10px; margin-bottom:10px}
.admin-menu h2, .inspector-menu h2, .cooperative-menu h2{color:#fff; padding:3px; border-bottom:1px dotted #fff; text-align:center; height:30px; margin:3px;  }
.admin-menu a, .inspector-menu a, .cooperative-menu a {color:#fff; width:100%; height:20px; text-align:right;}
.admin-menu:hover { height:290px; cursor:pointer}
.inspector-menu:hover { height:100px; cursor:pointer}
.cooperative-menu:hover { height:150px; cursor:pointer}
.admin-menu, .inspector-menu, .cooperative-menu a:hover {color:#000}
.admin-menu .admin-menu-links {margin-top:5px}
.pic-project .image-project {text-align:center; margin:2%; border-top-right-radius:10px;
  border-right:2px dotted #ec523f;  
 }
.pic-project .image-project img{width:100%; height:100%; border-top-right-radius:20px; 
  border-bottom-left-radius:20px;
  
}
.show-question {border-bottom:1px dotted #ec523f; margin:2%;padding:2%}
.show-question a.complaint-admin {width:20%; margin:.5%; padding:1%; height:20px; color:#fff}
.show-question a.complaint-admin:hover {color:#000}
.show-question a.complaint-admin.complaint-del {background:#ec523f;}
.show-question a.complaint-admin.complaint-send {background:#1abc9c;}
.show-question a.complaint-admin.complaint-show-send {background:#3498db;}
.show-question h4.no-answer {height:100px; margin:2%}
.inner-service .ask-question {width:100%; height:30px; background:#ec523f; text-align:center; margin:1%; padding:1%}
.inner-service .ask-question a:hover {color:#000}
.important {
  font-weight:bold; 
  font-size:1.5em;
  color:red;
  text-align:center;
}
.save-btn {
  width:250px; 
  height:40px; 
  color:#fff; 
  background:#e67e22; 
  padding:1%; 
  margin:5px; 
  font-size:15px;
  margin:2%;  
  border-radius:5px;
 
}

.save-btn:hover {border:#e67e22 solid 2px; background:#fff;}
.index-projects {margin-top:5%}
b.notif {
  background:#fff;
  width:40px;
  padding:5px 10px;
  margin:1px;
  height:5px;
  border-radius:20px;
  color:#ec523f;
}
.index-projects .projects-holder   h3.pro-title-holder{
  width:70%; float:right; font-size:2em
 }
.index-projects .projects-holder   h3.pro-title-holder:hover {color:#ec523f;}



.unread { font-weight:bold;}
#unread { font-weight:bold;}
tr { text-align:right}
tr th{ text-align:right}
tr td{ text-align:right}
.inform-info {border-right:2px dotted #ec523f; margin:2%; }
.inform-text { 
  min-height:250px;
  max-height:250px;
  overflow:hidden;  
  text-align:justify;
  margin-bottom:20px;
}
.immediate-text {
  min-height:120px;
  max-height:120px;
  overflow:hidden;  
  text-align:justify;
  margin-bottom:20px;
  }
.immediate-inform {background:#E5E5E5; border-radius:5px;
  -webkit-box-shadow: 2px 2px 13px 5px rgba(50, 50, 50, 0.38);
-moz-box-shadow:    2px 2px 13px 5px rgba(50, 50, 50, 0.38);
box-shadow:         2px 2px 13px 5px rgba(50, 50, 50, 0.38);
padding:2%;
}
.admin-link { position:absolute; width:auto}


.more {background:#ec523f; padding:1%; margin-top:10px; border-radius:5px; height:30px; text-align:center }
.more:hover {border:#ec523f solid 2px; background:#fff;}
.more:hover a{color:#000;}
.more a{color:#fff;}
.group-services-link h4{margin-right:2%; float:right }
.pay-limit-box  {height:100px; margin:2%; padding:2%; background-color:#1abc9c; text-align:center}
.pay-limit-box  a {width:100%; height:100%; font-size:1.5em; color:#fff; font-weight:bold;}
.pay-limit-box:hover  {cursor:pointer}
.pay-limit-box:hover  a {color:#ec523f}
img.recyclebin-icon {width:50px; height:40px;}
.text-cadr-home-page {text-align:justify; font-family:open_sansregular}
.form-group.col-sm-4 {float:right}

#register a {color:#fff;}
#register a:hover {color:#000;}
.search_result {margin-top:2%; border-top:solid 1px #BFBFBF; padding:1%}
.immediate h1 {font-size:20px}
.deactive {background:#FF0000; opacity:.5; color:#000;}
.login-box {position:absolute;
  width:50%;
  top: 30%;
right: 6%;
z-index: 20;
}
table.dataTable thead tr th {text-align:center}
.cooperative-title {font-size:1.5em}
.fa {
  display: inline-block;
  font-family: open_sansregular;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.step {border-radius:5px; width:60%; height:90px; border:solid 2px #427342;
  font-size:18px;
  padding:2%;
  text-align:center;
  margin:2%;
}
.step.active {background:#427342; color:#fff;
  
}
.pay-limit-steps  .title  h2 {border-bottom:1px dotted #ec523f}
#pay-info {display:none}
ul.search-result li{border-bottom:1px dotted #ec523f}
.code {font-size:1.5em; margin-top:5%; margin-bottom:5%; border:solid 1px #ec523f; text-align:center}
.code p{ font-family: 'glyphicons-halflings-regular';}
.reg-info .part{border-right:2px dotted #ec523f; padding:2%}
.reg-info h4{border-bottom:2px dotted #ec523f; text-align:center; padding:2%; font-size:18px;}
.info-cadre {border:1px dotted #ec523f; min-height:50px;  padding:2%; font-size:1.5em}
.andicator .dates {text-align:right}
.andicator .besella {text-align:center}
#letter_cunter {display:none}
.base-letter {padding:2%; border:2px solid #4D4D4D; 
  border-top-right-radius:20px;
  border-top-left-radius:20px;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
  min-height:400px;
  width:100%;
  position:relative;
}

.maskan-address {background:#fff; color:#000; width:50%;
  min-height:20px;  margin-top:-20px;
  position:absolute; right:23%; text-align:center;
}


/* Letter show style */
.print {width:50%; background:#BFBFBF;}
.letter-show .letter-right-info .letter-company-name{font-size:2em; font-weight:bold}
.letter-show .letter-right-info p{font-size:1.5em; }
.letter-left-info {font-size:1.5em; }
.letter-besmei {font-size:1.5em; text-align:center; padding:5%;}
.letter-show .letter-holder {
  min-height:800px;
  margin-top:5%;
  padding:5%;
  border: 2px solid #4D4D4D;
  border-radius:10%;
  position:relative;
}

.letter-show .letter-holder .letter-inner-title {font-family:IranNastaligh; font-size:2em; color:#000;}
.letter-show .letter-holder .letter-text {font-size:1.5em; color:#000; margin:5% 2%;
 text-align:justify; direction:rtl; 
 font-family: 'open_sansregular';
}
.letter-show .letter-holder .letter-text p {font-family: 'open_sansregular';}
.letter-show .letter-holder .letter-signture  {font-size:1.5em;
}
.tank-box {width:50%; text-align:center; float:left;}
.attachment{
    width:100%; text-align:right; margin-right:5%;}
.show-address {width:70%; height:50px; 
  bottom: -5%;
  right:10%;
  left:10%;
  background:#fff;
  text-align:center;
  position:absolute;
  font-size:1.5em;
}

.not-read {font-weight:bold}
.letter-title-new {font-size:1.5em}
.select-role {display:none}
