@media print {   
  @page {
    size: A5;
    orphans:0; widows:0;
    margin:0 .5cm;
    padding:0;    
    position:absolute;
  }
  
  html, body {
    direction:rtl;
    background-color: #FFF;
    color:#000;
    margin: 0;
    padding: 0;
  }
  
  .avoid-this, .site-main, #footer {display:none}
  
  .letter-show { 
    font-family: 'open_sansregular';
    width:15cm;  
    height:18cm;
    position:absolute; 
    right:0; left:0;
    direction:rtl;
    top:0; margin:0;padding-top:0px;
    z-index:10;    
    }
  .letter-show .letter-info{ position:absolute; top:0; width:100%; padding:0}
  .letter-left-info  {width:35%; float:left; text-align:right; font-size:12px; }
  .letter-besmei {width:22%;  float:left; font-size:10px; padding-top:15%; margin-right:3%; text-align:center}
  .letter-right-info  {width:35%; float:left; text-align:right;}

  .letter-show .letter-right-info .letter-company-name{font-size:15px; font-weight:bold}
  .letter-show .letter-right-info p{font-size:12px; }
  
  .letter-show .letter-holder {         
    width:100%;
    top:10%;        
    border-top: 2px solid #4D4D4D;
    border-left: 2px solid #4D4D4D;
    border-right: 2px solid #4D4D4D;
    border-radius:10%;
    position:absolute;
  }
  .letter-show .letter-holder .letter-inner-title {    
  font-family: 'IranNastaligh';
    font-size:17px; color:#000; 
    margin-right:5%;    
    height:5%;
    
  }
  .letter-show .letter-holder .letter-text {font-size:10px; color:#000;
    min-height:30%;
    
    text-align:justify; direction:rtl; 
    width:100%;       
  }
  .letter-show .letter-holder .letter-text p {width:90%;
    margin-right:5%;    
    margin-left:5%;
    line-height:19px;
    }
  .letter-show .letter-holder .letter-text p span{font-family: 'open_sansregular';}
  .letter-show .letter-holder .letter-signture  { font-size:13px;
    width:100%; 
    margin-top:10%;
  }
  .show-address {width:70%; height:6%; 
    bottom:-6%;    
    right:10%;
    left:10%;
    background:#fff;
    text-align:center;
    position:absolute;
    font-size:11px;
    font-family: 'open_sansregular';
  }
  .tank-box{width:50%; text-align:center; float:left;}
  .attachment{
    width:100%; text-align:right; margin-right:5%; }
  .clear {clear:both}
  
}
