@media print {   
  @page {
    size: A5;
    text-align:center;
    margin-left: 25pt;
    margin-right: 25pt;
    margin-top: 0px;
    margin-bottom:0px;
    position:relative;
    top:0;    
    left:0;
    right:0;    
  }
  
  html, body {
    direction:rtl;
    background-color: #FFF;
    color:#000;
    margin: 0 !important;
    padding: 0 !important;
    top:0;
  }
  .margin-top {margin-top:-10pt}
  .avoid-this, .site-main, #footer, .alert.alert-success {display:none}
  .page-title-holder {margin:0 !important; padding:0 !important; width:100%}
 
  .letter-show {left:0; right:0; position:relative;
  margin:0 !important; padding:0 !important;
  width:420pt;
  
   }  
  .letter-show .letter-info{width:420pt; padding:0;        
    right:0; left:0;
   top:0;   
   position:absolute;
   z-index:1000}
  .letter-left-info  {width:160pt; float:left; 
    padding:0; margin:0; text-align:right; font-size:12pt; 
    padding-top:10%;  
    margin-left:20pt;
    margin-top:50pt;
    padding-right:3%; 
    
  }
  .letter-left-info p {font-weight:normal}
  .letter-left-info p {font-weight:normal}
  
  .letter-besmei {font-size:14pt; padding:0; margin:0; width:50pt; float:left; padding-top:15%; 
    text-align:center; margin-bottom:5px; font-family:IranNastaligh;
    margin-top:20pt;     }
  .letter-right-info  {width:185pt; float:left; text-align:right;  font-size:12pt; 
   padding:0; margin:0;  
   }

  .letter-show .letter-right-info .letter-company-name{font-size:12pt; font-family:open_sansregular;
    font-weight:bold; padding-top:5%; float:right}
  .letter-show .letter-right-info .letter-company-name p {font-size:12pt; font-family:open_sansregular;}
  
  .letter-show .letter-right-info p{font-size:12pt;font-family:open_sansregular;}
  .letter-show .letter-holder { 
    width:100%;
    margin:0 !important; 
    position:relative; padding:0 !important;
    left:0 !important; right:0 !important;
    top:2pt; 
    padding-top:8pt;
    min-height:640pt !important; 
    max-height:640pt !important;  
    }
  .letter-show .letter-holder .letter-text  { 
    font-family: 'Nazanin';
    width:98%;
    overflow:hidden;
    font-size:16pt;     
    position:relative; 
    padding:1%;
    margin: 1%;
    line-height:30pt;
    clear:both;
  }
  .letter-show .letter-holder .letter-text span {font-size:16pt; font-family: 'Nazanin';}
  
  .letter-show .letter-holder .letter-text table {font-family: 'Nazanin';
    border:1px solid #4D4D4D;
    font-size:16pt; width:auto;
    }
  .letter-show .letter-holder .letter-text ol {list-style-type: decimal; margin-right:20pt}
  .letter-show .letter-holder .letter-text ol li, .letter-show .letter-holder .letter-text ul li{font-size:16pt}
  .letter-show .letter-holder .letter-text ul {list-style-type: circle;}
  .letter-show .letter-holder .letter-text table tr {border:1px solid #4D4D4D;}
  .letter-show .letter-holder .letter-text table tr th{border:1px solid #4D4D4D; text-align:center}
  .letter-show .letter-holder .letter-text table tr td{border:1px solid #4D4D4D; }
  .letter-show .letter-holder .letter-inner-title {font-size:22pt;
  width:90%; 
  margin-right:5pt;   
  padding-top:200pt; 
  
  }
  .letter-show .letter-holder .letter-text p {
    width:90%;
    font-size:16pt;
    margin-right:10pt;    
    margin-left:5pt;
    line-height:30pt;
    font-family: 'Nazanin';
    }
  .letter-show .letter-holder .letter-signture  { font-size:12pt;
    width:100%; 
    margin-top:8%;
    margin-left:10%;
    margin-bottom:0;
    position:absolute;
    font-family: 'Nazanin';
  }
  
  .show-address {font-size:12px;  
  width:98%; text-align:center; 
  position:absolute; 
  height:30px;   
  left:-5pt;     
  right:5pt;     
  margin-right:5pt;
  bottom:-12pt;  
  z-index:1000;  
  font-family: 'Nazanin';
  }
  
  /* print list of pay limit  */

  .pay_limit {width:100%}
  .pay_limit table{width:100%}
  .tank-box {width:70%; text-align:center; float:left;}
  .letter-show .letter-right-info .letter-company-name p.maskan-logo img {
    margin-right:20pt
    }
}



