@media print {   
  @page {
    size: A5;    
    text-align:center;
    margin-left: 25pt;
    margin-right: 25pt;
    margin-top: 2px;
    margin-bottom: 2px;
    position:relative;
    top:0;    
    left:0;
    right:0;    
  }
  
  html, body {
    direction:rtl;
    background-color: #FFF;
    color:#000;
    margin: 0 !important;
    padding: 0 !important;
    top:0;
  }
  .margin-top {margin-top:-2%}
  .avoid-this, .site-main, #footer, .alert.alert-success {display:none}
  .page-title-holder {margin:0 !important; padding:0 !important;}
 
  .letter-show {left:0; right:0; position:absolute;
  margin:0 !important; padding:0 !important;
  width:100%;
   }  
  .letter-show .letter-info{ width:400pt; padding:0; 
  right:2%;   
   top:10%;   
   position:absolute;
  height:90pt;  z-index:1000}
  .letter-left-info  {width:38%; float:left; 
    padding:0; margin:0; text-align:right; font-size:10pt; 
    padding-top:10%;  
    padding-right:10%;  
  }
  .letter-besmei {width:30%;  float:left; font-size:12pt; padding:0; margin:0; padding-top:13%;  text-align:center; }
  .letter-right-info  {width:29%; float:left; text-align:right;  font-size:10pt; 
   padding:0; margin:0; padding-top:8%}

  .letter-show .letter-right-info .letter-company-name{font-size:10pt; font-weight:bold; padding-top:5%}
  .letter-show .letter-right-info p{font-size:8pt; }
  .letter-show .letter-holder {   margin:0 !important; padding:0 !important;
    position:relative;
    left:0 !important; right:0 !important;
    top:80pt;   
    padding-top:10pt;
    min-height:560pt !important; 
    max-height:560pt !important;  
    }
  .letter-show .letter-holder .letter-text  { 
    font-size:10pt;     
    position:relative; 
    padding:1%;
    margin: 1%;
  }
  .letter-show .letter-holder .letter-inner-title {font-size:14pt;
  width:90%; 
  margin-right:10pt;   
  padding-top:25pt; 
  
  }
  .letter-show .letter-holder .letter-text p {
    width:90%;
    font-size:10pt;
    margin-right:5%;    
    margin-left:5%;
    line-height:19pt;
    }
  .letter-show .letter-holder .letter-signture  { font-size:8pt;
    width:100%; 
    margin-top:10%;
    margin-left:10%;
    margin-bottom:0;
    position:absolute;
  }
  
  .show-address {font-size:8pt;
  width:94%; text-align:center; 
  position:fixed; 
  height:30px;   
  margin-left:55pt;     
  bottom:-90pt;  
  z-index:1000;
  font-weight:bold; 
  }
  
  /* print list of pay limit  */

  .pay_limit {width:100%}
  .pay_limit table{width:100%}

}



