/*
*= require_self
*/
@media print {   
  @page {
    size: A4;
    text-align:center;
    margin-left: 20pt;
    margin-right: 20pt;
    margin-top: 10px;
    margin-bottom:0px;
    position:relative;
    top:0;    
    left:0;
    right:0;    
  }
  
  html, body {
    direction:rtl;
    background-color: #FFF;
    color:#000;
    margin: 0 !important;
    padding: 0 !important;
    top:0;
  }
  .margin-top {margin-top:-10pt}
  .avoid-this, .site-main, #footer, .alert.alert-success {display:none}
  .page-title-holder {margin:0 !important; padding:0 !important; width:100%}
 
  .letter-show {left:0; right:0; position:absolute;
  margin:0 !important; padding:0 !important;
  width:100%;
   }  
  .letter-show .letter-info{ width:100%; padding:0;        
   top:0pt;   
   position:absolute;
  height:90pt;  z-index:1000}
  .letter-left-info  {width:170pt; float:left; 
    padding:0; margin:0; text-align:right; font-size:10pt; 
    padding-top:2%;  
    padding-right:13%;  
    margin-top:40pt;
  }
  
  .letter-besmei {font-size:10pt; padding:0; margin:0; width:140pt; float:left; padding-top:10%; 
    text-align:center; margin-bottom:5px; margin-top:30pt;font-family:IranNastaligh;}
  .letter-right-info  {width:150pt; float:left; text-align:right;  font-size:14pt; 
   padding:0; margin:0; padding-top:2%; padding-right:3%;}

  .letter-show .letter-right-info .letter-company-name{font-size:14pt; 
    font-weight:bold; padding-top:5%; float:right}
  .letter-show .letter-right-info .letter-company-name p {font-size:10pt;}
  .letter-show .letter-right-info .letter-company-name p.maskan-logo{ width:100pt;
  margin-right:40pt;  clear:both; padding-top:15pt;
  }
  .letter-show .letter-right-info .letter-company-name p.maskan-logo img {height:50pt; width:60pt;  
  float:right;
  margin-right:0pt;
  
    }
  .letter-show .letter-right-info p{font-size:8pt; }
  .letter-show .letter-holder { 
    width:100%;
    margin:0 !important; padding:0 !important;
    position:relative;
    left:0 !important; right:0 !important;
    top:2pt;   
    padding-top:10pt;
    min-height:770pt !important; 
    max-height:770pt !important;  
    }
  .letter-show .letter-holder .letter-text  { 
    width:98%;
    font-size:10pt;     
    position:relative; 
    padding:1%;
    margin: 1%;
    clear:both;
  }
  .letter-show .letter-holder .letter-text span {font-size:8pt}
  .letter-show .letter-holder .letter-text p {font-size:8pt}
  .letter-show .letter-holder .letter-text table {font-family: 'open_sansregular';
    border:1px solid #4D4D4D;
    font-size:6pt; width:auto;
    }
  .letter-show .letter-holder .letter-text ol {list-style-type: decimal; margin-right:20pt}
  .letter-show .letter-holder .letter-text ol li, .letter-show .letter-holder .letter-text ul li{font-size:6pt}
  .letter-show .letter-holder .letter-text ul {list-style-type: circle;}
  .letter-show .letter-holder .letter-text table tr {border:1px solid #4D4D4D;}
  .letter-show .letter-holder .letter-text table tr th{border:1px solid #4D4D4D; text-align:center}
  .letter-show .letter-holder .letter-text table tr td{border:1px solid #4D4D4D; }
  .letter-show .letter-holder .letter-inner-title {font-size:14pt;
  width:90%; 
  margin-right:5pt;   
  padding-top:200pt; 
  
  }
  .letter-show .letter-holder .letter-text p {
    width:90%;
    font-size:10pt;
    margin-right:5%;    
    margin-left:5%;
    line-height:19pt;
    }
  .letter-show .letter-holder .letter-signture  { font-size:8pt;
    width:100%; 
    margin-top:8%;
    margin-left:10%;
    margin-bottom:0;
    position:absolute;
  }
  
  .show-address {font-size:6pt;
  width:80%; text-align:center; 
  position:fixed; 
  height:30px;
  
  margin-right:-50pt;
  bottom:15pt;  
  z-index:1000;  
  }
  
  /* print list of pay limit  */

  .pay_limit {width:100%}
  .pay_limit table{width:100%}

}



