
@media print {    
  body {
    direction:rtl;
    background-color: #FFF;
    color:#000;
  }
  .letter-show { font-size:10px; font-family: 'open_sansregular';}
  .letter-show .letter-info{ position:absolute; top:0; width:100%;}
  .letter-left-info  {width:28%; float:left; text-align:right; font-size:10px}
  .letter-besmei {width:32%; text-align:center; float:left; font-size:10px; padding-top:5%}
  .letter-right-info  {width:40%; float:left; text-align:center;font-size:10px}

  .letter-show .letter-right-info .letter-company-name{font-size:2em; font-weight:bold}
  .letter-show .letter-right-info p{font-size:1.5em; }
  .letter-left-info {font-size:1.5em; }
  .letter-besmei {font-size:1.5em; text-align:right}
  .letter-show .letter-holder {     
    min-height:700px;
    margin-top:20%;    
    border: 2px solid #4D4D4D;
    border-radius:10%;
    position:relative;
  }
  .letter-show .letter-holder .letter-inner-title {font-family:IranNastaligh; font-size:2em; color:#000; margin-right:10%;
    margin-top:10%;
  }
  .letter-show .letter-holder .letter-text {font-size:1.5em; color:#000;
    font-family: 'open_sansregular';  
    text-align:justify; direction:rtl; 
    width:100%;
    margin-right:50px;
        
  }
  .letter-show .letter-holder .letter-text p {width:70%;
    margin-right:20%;
    margin-left:5%;
    line-height:1.5em;
    }
  .letter-show .letter-holder .letter-text p span{font-family: 'open_sansregular';  }
  .letter-show .letter-holder .letter-signture  {text-align:center; font-size:1.5em;
    width:50%; float:left;
  }
  .show-address {width:70%; height:50px; 
    bottom: -5%;
    right:10%;
    left:10%;
    background:#fff;
    text-align:center;
    position:absolute;
    font-size:1.5em;
  }
}
