
#notice {
  color: green;
}
text_area {resize:none}
.field_with_errors {
 
  -webkit-box-shadow: 7px 7px 5px 0px rgba(255, 39, 15, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(255, 39, 15, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(255, 39, 15, 0.75);
  
  width:100%;
}

#error_explanation {
  
  border: 2px solid red;
  padding: 2%;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
