.width80.set-center.margin-top
  .tbox2
    .title
      %h1 ویرایش اطلاعات اعضا
    .contact-form.width50
      = render 'form'

    = link_to 'مشاهده', @member
    \|
    = link_to 'بازگشت', cooperatives_path
